section
{
    /* background-color: red; */
    padding: 10rem 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@media(max-width:600px)
{
    section
    {
        padding: 0;
    }
}
section h1
{
    font-size: 4rem;
    font-weight: 900;
}
section span
{
    color: var(--accent-color);
    background: -webkit-linear-gradient(90deg,var(--accent-color), var(--accent-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 56px #ff008028;
}
section h2
{
    font-size: 2rem;
    margin: 1rem 0;
}
section h3
{
    font-size: 1.5rem;
    margin: .75rem 0;
}
.mt-4
{
    margin: 4rem 0rem;
}
.mt-1
{
    margin: 1rem 0rem;
}
section p
{
    font-size: 1.2rem;
    opacity: .75;
}
section img
{
    width: 20rem;
}
#hero
{
    /* background: linear-gradient(90deg, #fcfcfc, #f4f4f4) */
    /* box-shadow: inset 0px 0px 11px 3px rgba(0,0,0,0.22); */
}
.cards-container
{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}
.card
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    border-radius: 1rem;
    transition: all 300ms ease;
    box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.08);
    border:var(--background-color) 2px solid;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--background-color);
}
.card:hover
{
    flex-grow: 3;
    border:var(--accent-color) 2px solid;
}
.card:hover:active
{
    transform: scale(.9);
}
.cards-container:hover .card:not(:hover)
{
    opacity: .25;
    /* transform: scale(.75); */
}
hr
{
    margin: 1rem 0rem;
    border-top: 3px solid var(--accent-color);
}
.quote
{
    font-size: 1.5rem;
    background: #f3f3f3;
    padding: 2rem;
    border-radius: 1rem;
}

footer
{
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
}