@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --accent-color : #FF007E;
    --accent-color2 :rgb(250, 81, 166);
    --background-color : #fcfcfc;
    --font-color : #3b3e41;
    font-family: 'Inter', sans-serif;
    --cubic-bezier : cubic-bezier(.65,.31,.04,.99);
}
*
{
    /* outline: #FF007E solid 2px; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: var(--background-color);
    color: var(--font-color);
}
/* width */
::-webkit-scrollbar
{
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: var(--accent-color);
    border-radius: 2rem;
}

a
{
    text-decoration: none;
    color:inherit;
}