@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
  font-family: 'Instrument Sans', sans-serif;
  @apply bg-light;
  @apply text-dark;
}
.gradient-text
{
  @apply from-primary to-accent bg-gradient-to-r bg-clip-text text-transparent;
}

*
{
  /* outline: solid 2px red; */
}

.grow-anim
{
  animation: grow-anim 4s infinite;
}
@keyframes grow-anim {
  0%{flex-grow: 1;}
  25%{flex-grow: 8;}
  50%{flex-grow: 16;}
  50%{flex-grow: 8;}
  100%{flex-grow: 1;}
}