@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
  font-family: 'Poppins', sans-serif;
  @apply bg-light;
  @apply text-dark;
}
.gradient-text
{
  @apply from-primary to-accent bg-gradient-to-r bg-clip-text text-transparent;
}

*
{
  /* outline: solid 2px red; */
}

.grow-anim
{
  animation: grow-anim 4s infinite;
}
@keyframes grow-anim {
  0%{flex-grow: 1;}
  25%{flex-grow: 8;}
  50%{flex-grow: 16;}
  50%{flex-grow: 8;}
  100%{flex-grow: 1;}
}
.card
{
  @apply rounded-xl shadow-lg duration-300 hover:shadow-xl transition-all;
}
.card:not(.bg-primary)
{
  @apply bg-white;
}
.card .card
{
  @apply p-4 rounded-lg shadow-lg;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-light
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full transition-colors
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-accent
}